*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) *.9)
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cells {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.cells:first-child,
.cells:nth-child(2),
.cells:nth-child(3) {
    border-top: none;
}

.cells:first-child,
.cells:nth-child(4),
.cells:nth-child(7) {
    border-left: none;
}

.cells:nth-child(3),
.cells:nth-child(6),
.cells:nth-child(9) {
    border-right: none;
}

.cells:nth-child(7),
.cells:nth-child(8),
.cells:nth-child(9) {
    border-bottom: none;
}

.cells.x,
.cells.o {
    cursor: not-allowed;
}

.cells.x::before,
.cells.x::after,
.cells.o::before {
    background-color: black;
}

.board.x .cells:not(.x):not(.o):hover::before,
.board.x .cells:not(.x):not(.o):hover::after,
.board.o .cells:not(.x):not(.o):hover::before {
    background-color: lightgray;
}



.cells.x::before,
.cells.x::after,
.board.x .cells:not(.x):not(.o):hover::before,
.board.x .cells:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    
}

.cells.x::before,
.board.x .cells:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cells.x::after,
.board.x .cells:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cells.o::before,
.cells.o::after,
.board.o .cells:not(.x):not(.o):hover::before,
.board.o .cells:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.cells.o::before,
.board.o .cells:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cells.o::after,
.board.o .cells:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em 5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}